<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewtakao.dollarbettest2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/db3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendDetailActivity"
            android:label="@string/edit_fragment_title"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AppPreferences"
            android:label="@string/title_preferences"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".NewbieActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".FriendViewActivity" />
        <activity android:name=".BetDetailActivity"></activity>
    </application>

</manifest>